<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        logView
    </title>
    <meta name="description" content="view">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">

    <!-- Icons -->
    <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" th:href="@{/css/blk-design-system.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/demo/demo.css}" rel="stylesheet">
    <!-- Optional: page related CSS-->
</head>
<body class="index-page">
<nav class="navbar navbar-expand-lg fixed-top bg-info">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" th:href="@{/}" rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="新开一个窗口查看文件目录信息">
                <span>Log•</span> View System
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a>
                            LogView•
                        </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">

            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="main " style="margin-top: 80px">
        <div >

                <div class="form-row">
                    <div class="form-group  col-md-4">
                        <div class="input-group" >
                            <input type="text" class="form-control form-control-success" placeholder="搜索关键词">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  col-md-4">
                        <button class="btn btn-warning btn-sm search">检索</button>
                        <button class="btn btn-primary btn-sm download">下载</button>
                        <button class="btn btn-info btn-sm goback">上级目录</button>
                    </div>
                </div>


        </div>
        <blockquote>
            <p class="blockquote blockquote-white " style="font-size: 11px;">
                正在加载中...请稍候...
            </p>
        </blockquote>

    </div>
</div>

<script th:src="@{/js/core/jquery.min.js}"></script>
<script th:src="@{/js/core/popper.min.js}"></script>
<script th:src="@{/js/core/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>-->
<!--    <script th:src="@{/js/plugins/bootstrap-switch.js}"></script>-->
<!--    <script th:src="@{/js/plugins/nouislider.min.js}"></script>-->
<!--    <script th:src="@{/js/plugins/moment.min.js}"></script>-->
<script th:src="@{/demo/demo.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/blk-design-system.js}"></script>
<script th:src="@{/js/plugins/jquery.slimscroll.min.js}"></script>
<script type="text/javascript">
    var path =getUrlParam("path");
    var appid = "1A3VL0KVK0000B020A0A0000CC3F48AD";
    var encryptType = "Plain";
    var signType = "Plain";
    $(function(){
        getFileLog(path);
        $(".blockquote").slimScroll({ allowPageScroll:1,height: 580,wheelStep: 6,distance: "2px",opacity: 0.8, color: "#FFF",alwaysVisible:1});
        $(".download").click(function () {
            window.location.href = getRootPath()+"/file/download?path="+path;
        });

        $(".goback").click(function () {
            var tempPath = path;
            if(tempPath.charAt(tempPath.length-1) == '/') {
                tempPath = "";
            }else{
                tempPath = tempPath.substring(0,tempPath.lastIndexOf("/"));
            }
           window.location.href = getRootPath()+"/index?path="+tempPath;
        });

    });

    function getFileLog(path) {
        var method = "file/service/getFileContent/V1.0";
        var params = {"filePath":path};
            $.ajax(
                {
                    url: getRootPath() +'/api/gateway.do',
                    type:'post',
                    dateType:'json',
                    headers:{'Content-Type':'application/json;charset=utf8'},
                    data:JSON.stringify(getGlobalParams(params,method)),
                    success:function(data){
                        if(data.retCode == '0000') {
                            $(".blockquote").html(data.bizObj.replaceAll("\r\n","<br/>"));
                        }else {
                            $(".blockquote").html(data.retMsg);
                        }
                    },
                    error:function(data){console.log("error");}
                }
            );
    }

    function getUrlParam (name) {
        var reg = new RegExp('(^|&)' + name + '=(.*)(&[^&=]+=)');
        var regLast = new RegExp('(^|&)' + name + '=(.*)($)');
        var r = window.location.search.substr(1).match(reg) || window.location.search.substr(1).match(regLast);
        if (r != null) {
            var l = r[2].match(/&[^&=]+=/)
            if (l) {
                return decodeURIComponent(r[2].split(l[0])[0]);
            } else return decodeURIComponent(r[2]);
        }
        return null;
    }


    function getGlobalParams(params,method) {
        var timestamp = (new Date()).valueOf();
        var fparams = {
            "appId": appid,
            "bizContent": JSON.stringify(params),
            "encryptType": encryptType,
            "method": method,
            "signType": signType,
            "timestamp": timestamp
        };
        return fparams;
    }

    function getRootPath() {
        var strFullPath = window.document.location.href;
        var strPath = document.location.pathname;
        if(strPath.lastIndexOf("/") != strPath.indexOf("/")) {
            strPath = strPath.substring(0,strPath.lastIndexOf("/"));
        }
        var pos = strFullPath.indexOf(strPath);
        var prePath = strFullPath.substring(0, pos);
        // var postPath = strPath.substring(0,strPath.substring(1).indexOf("/")+1);
        return prePath+strPath;
    }
</script>
</body>
</html>
