<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        logView
    </title>
    <meta name="description" content="view">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">

    <!-- Icons -->
    <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet">

    <!-- Theme CSS -->
    <link type="text/css" th:href="@{/css/blk-design-system.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/demo/demo.css}" rel="stylesheet">
    <!-- Optional: page related CSS-->
</head>
<body class="index-page">
    <nav class="navbar navbar-expand-lg fixed-top bg-info " color-on-scroll="1">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" th:href="@{/}"  rel="tooltip" title="" data-placement="bottom" target="_blank" data-original-title="返回查看文件目录信息">
                    <span>Log•</span> View System
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>
                                LogView•
                            </a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">

<!--                    <li class="dropdown nav-item">-->
<!--                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">-->
<!--                            <i class="fa fa-cogs d-lg-none d-xl-none"></i> Getting started-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-with-icons">-->
<!--                            <a href="https://demos.creative-tim.com/blk-design-system/docs/1.0/getting-started/overview.html" class="dropdown-item">-->
<!--                                <i class="tim-icons icon-paper"></i> Documentation-->
<!--                            </a>-->
<!--                            <a href="examples/register-page.html" class="dropdown-item">-->
<!--                                <i class="tim-icons icon-bullet-list-67"></i>Register Page-->
<!--                            </a>-->
<!--                            <a href="examples/landing-page.html" class="dropdown-item">-->
<!--                                <i class="tim-icons icon-image-02"></i>Landing Page-->
<!--                            </a>-->
<!--                            <a href="examples/profile-page.html" class="dropdown-item">-->
<!--                                <i class="tim-icons icon-single-02"></i>Profile Page-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" onclick="scrollToDownload()">-->
<!--                            <i class="tim-icons icon-cloud-download-93"></i> Download-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="page-header header-filter">
            <div class="squares square1"></div>
            <div class="squares square2"></div>
            <div class="squares square3"></div>
<!--            <div class="squares square4"></div>-->
<!--            <div class="squares square5"></div>-->
<!--            <div class="squares square6"></div>-->
            <div class="squares square7"></div>
            <div class="container">
                <div class="content-center " style="width:100%">

                    <div class="card " style="width:100%;">
                        <div class="card-header">
<!--                            <img class="card-img" th:src="@{/img/square1.png}" alt="Card image">-->
                            <h2 class="card-title">文件浏览</h2>
                        </div>
                        <div class="card-body" style="height: 400px;">
                            <h5 class="text-left current-path">当前路径：</h5>
                            <ul id="fileViewUl" class="nav nav-pills nav-pills-primary nav-pills-icons">
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" data-toggle="tab" href="#link7">-->
<!--                                        <i class="tim-icons icon-tv-2"></i> Home-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" data-toggle="tab" href="#link8">-->
<!--                                        <i class="tim-icons icon-single-copy-04"></i> Messages-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link active show" data-toggle="tab" href="#link9">-->
<!--                                        <i class="tim-icons icon-settings-gear-63"></i> Settings-->
<!--                                    </a>-->
<!--                                </li>-->

                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:void(0)" class="btn btn-info btn-round " onclick="goBackParent()">
                                <i class="tim-icons icon-minimal-left"></i>
                                上级
                            </a>
<!--                            <a href="javascript:void(0)" class="btn btn-info btn-round ">-->
<!--                                <i class="tim-icons icon-cloud-download-93"></i>-->
<!--                                下载-->
<!--                            </a>-->
<!--                            <a href="javascript:void(0)" class="btn btn-info btn-round ">-->
<!--                                <i class="tim-icons icon-cloud-download-93"></i>-->
<!--                                上传-->
<!--                            </a>-->

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="main">

        </div>
    </div>

    <script th:src="@{/js/core/jquery.min.js}"></script>
    <script th:src="@{/js/core/popper.min.js}"></script>
    <script th:src="@{/js/core/bootstrap.min.js}"></script>
<!--    <script th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>-->
<!--    <script th:src="@{/js/plugins/bootstrap-switch.js}"></script>-->
<!--    <script th:src="@{/js/plugins/nouislider.min.js}"></script>-->
<!--    <script th:src="@{/js/plugins/moment.min.js}"></script>-->
    <script th:src="@{/demo/demo.js}"></script>

    <!-- Theme JS -->
    <script th:src="@{/js/blk-design-system.js}"></script>
    <script th:src="@{/js/plugins/jquery.slimscroll.min.js}"></script>
    <script type="text/javascript">
        var appid = "1A3VL0KVK0000B020A0A0000CC3F48AD";
        var encryptType = "Plain";
        var signType = "Plain";
        var currentPath = '';
        $(function(){
            getFilesDirectory('',0);
            $(".card-body").slimScroll({ height: 400,wheelStep: 10});
            $(".modal-body").slimScroll({ height: 500,wheelStep: 10});
        });

        function getFilesDirectory(parentDir,ftype) {
            var method = "file/service/getFileList/V1.0";
            var paramPath = parentDir;

            if(paramPath!='' && paramPath.indexOf("/")==-1) {
                paramPath = paramPath + "/";
            }
            $('.current-path').html("当前路径："+paramPath);
            var params = {"parentDir":paramPath};
            if(ftype == 0) {
                $.ajax(
                    {
                        url: getRootPath() +'/api/gateway.do',
                        type:'post',
                        dateType:'json',
                        headers:{'Content-Type':'application/json;charset=utf8'},
                        data:JSON.stringify(getGlobalParams(params,method)),
                        success:function(data){
                            if(data.retCode == '0000') {
                                var view = $("#fileViewUl");
                                view.detach();
                                $(".card-body").append("<ul id=\"fileViewUl\" class=\"nav nav-pills nav-pills-primary nav-pills-icons\"></ul>");
                                view = $("#fileViewUl");
                                currentPath = parentDir;

                                var files = data.bizObj;
                                if(files!=null && files.length!=0) {
                                    for(var i=0;i<files.length; i++) {
                                        var file = files[i];
                                        var classStr = '';
                                        var classStr2 = '';
                                        var actionContent = '';
                                        if(file.type === 0) {
                                            classStr = 'icon-tv-2';
                                            classStr2 = 'badge-danger';
                                            actionContent = 'href="javascript:void(0);"  onclick="getFilesDirectory(\''+file.dir+'\',\''+file.type+'\');" ';
                                        }else {
                                            classStr = 'icon-single-copy-04';
                                            classStr2 = 'badge-success';
                                            if(file.name.indexOf(".log")!=-1
                                                ||file.name.indexOf(".xml")!=-1
                                                ||file.name.indexOf(".txt")!=-1) {
                                                actionContent = 'href="'+getRootPath()+'/view?path='+file.dir+'"';
                                            }else {
                                                actionContent = 'href="javascript:void(0);"  onclick="getFilesDirectory(\''+file.dir+'\',\''+file.type+'\');" ';
                                            }
                                        }

                                        var content = '<li class="nav-item">\n' +
                                            '        <a class="nav-link " '+actionContent+'\n' +
                                            '           data-toggle="tooltip" data-placement="bottom" title="总容量: '+file.totalSpace+'M 空闲: '+file.freeSpace+'M 文件大小: '+file.usedSpace+'" >'+
                                            '           <i class="tim-icons '+classStr+'"></i> <span class="badge '+classStr2+'">'+file.name+'</span>' +
                                            '          </a>\n' +
                                            '        </li>';
                                        view.append(content);
                                    }
                                }
                            }else {
                                alert(data.retMsg);
                            }
                        },
                        error:function(data){console.log("error");}
                    }
                );
            }
        }

        function goBackParent() {
            var tempPath = currentPath;
            if(tempPath.charAt(tempPath.length-1) == '/') {
                tempPath = "";
            }else{
                tempPath = tempPath.substring(0,tempPath.lastIndexOf("/"));
            }
            getFilesDirectory(tempPath,0);
        }

        function getGlobalParams(params,method) {
            var timestamp = (new Date()).valueOf();
            var fparams = {
                "appId": appid,
                "bizContent": JSON.stringify(params),
                "encryptType": encryptType,
                "method": method,
                "signType": signType,
                "timestamp": timestamp
            };
            return fparams;
        }

        function getRootPath() {
            var strFullPath = window.document.location.href;
            var strPath = document.location.pathname;
            if(strPath.lastIndexOf("/") != strPath.indexOf("/")) {
                strPath = strPath.substring(0,strPath.lastIndexOf("/"));
            }
            var pos = strFullPath.indexOf(strPath);
            var prePath = strFullPath.substring(0, pos);
            // var postPath = strPath.substring(0,strPath.substring(1).indexOf("/")+1);
            return prePath+strPath;
        }
    </script>
</body>
</html>
